.card {
    position: absolute;
    max-width: 80vw;
    border: red 1px solid;
    display: grid;
    grid-template:
        "a b"
        "c c"
        "d e" / 1fr 1fr
    ;

    .mid {
        grid-area: c;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }

    .area1 {
        grid-area: a;
    }

    .area2 {
        grid-area: b;

    }

    .area3 {
        grid-area: c;

    }

}