.parttop {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  width: 100%;
  padding: 20vh 0;
}
.partbot {
  height: 50%;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--main2);
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.view {
  height: 90vh;
}
