.header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;

    .nav {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        height: 100%;

        >a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
        }
    }
}