.header,
.navLinks {
  display: flex;
  align-items: center;
}

.header {
  background-color: aliceblue;
}

.navLinks {
  background-color: aqua;
  width: 8%;
  margin-left: 5vw;
  justify-content: space-around;
  font-size: 2.2vh;
}
.navLinks a {
  text-decoration: none;
  color: black;
  margin: 0 0.5vw;
}
