.header,
.navLinks {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--main);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navLinks {
  width: 8%;
  margin-left: 5vw;
  justify-content: space-around;
  font-size: larger;
  a {
    text-decoration: none;
    color: white;
    margin: 0 0.5vw;
  }
  a:hover {
    color: red;
    transition-duration: 0.5s;
  }
}

@media (max-width: 768px) {
  .navLinks {
    width: 30%;
  }
}

@media (768px <= width <= 1024px) {
  .navLinks {
    width: 15%;
    font-size: x-large;
  }
}

@media (1024px <= width <= 1440px) {
  .navLinks {
    width: 10%;
    font-size: x-large;
  }
}

@media (width > 1920px) {
  .navLinks {
    width: 8%;
    font-size: xx-large;
  }
}
