.header {
  display: flex;
  align-items: center;
  background-color: var(--main);
}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.5vh;
  z-index: 5;
  background-color: var(--main2);
  width: 4vw;
  border: #b1b1b1 solid 1px;
  a {
    color: #b1b1b1;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition-duration: 0.25s;
  }
  a:nth-last-of-type(1) {
    border-top: #b1b1b181 dashed 1px;
  }
  a:hover {
    color: white;
  }
}
.btn:hover {
  border: 3px solid #b1b1b1;
  img {
    filter: invert(100%);
  }
}
.btn {
  width: 46px;
  height: 46px;
  margin-top: 2vh;
  border-radius: 5px;
  border: 3px solid rgba(78, 78, 78, 0.5);
  background-color: var(--main);
  cursor: pointer;
  transition-duration: 0.25s;
  img {
    transition-duration: 0.25s;
  }
}

.hidden {
  display: none;
}
.navLinks {
  width: 8%;
  margin-left: 5vw;
  font-size: larger;
}

@media (max-width: 768px) {
  .navLinks {
    width: 30%;
  }
  .show {
    margin-top: 1.5vh;
    width: 20vw;
  }
}

@media (768px <= width < 1024px) {
  .navLinks {
    width: 15%;
    font-size: x-large;
  }
  .show {
    margin-top: 0.5vh;
    width: 12vw;
  }
}

@media (1024px <= width <= 1440px) {
  .navLinks {
    width: 10%;
    font-size: x-large;
  }
  .show {
    width: 10vw;
  }
}

@media (width > 1920px) {
  .navLinks {
    width: 8%;
    font-size: xx-large;
  }
}
