.container {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    border: red 0 solid;
    border-width: 0 1px 1px 0;
    height: 100%;

    .song {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8rem;

        img {
            aspect-ratio: 1/1;
            border-radius: 5px;
            margin-top: 1em;
            margin-top: 0.2rem;
            width: 5vw;
            height: 5vw;
        }
    }

    .musicMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    p:nth-of-type(1) {
        margin-top: 0.2rem;
    }

    >h3 {
        grid-area: a;
        margin: 0;
        padding-top: 1rem;
        text-align: center;
    }

    p:nth-of-type(2) {
        margin-top: -1.2rem;
        font-size: small;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0;
    }
}