.project:hover {
    border: 2px solid var(--borders);
}

.project {
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--borders2);
    transition: 0.5s;
    max-width: 100%;

}